<nav class="navbar navbar-inverse">
  <div class="header">
    <!-- <div class ="resizeImage">
<img src = "img/panda.jpg"/>
</div> -->
<!-- <h1>Header</h1> -->

<!-- <p>About Me</p> -->
<img src="img/connections.jpeg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Design</div>
  </div>
</div>

   <!-- <div class="container-fluid"> -->
    <!-- <div class="navbar-header"> -->
      <!-- <a class="navbar-brand" href="/">Home</a>
    </div>
    <div>  -->

      <!-- <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu
          <span class="caret"></span></a>
          <ul class="dropdown-menu"> -->
          <div class="sidebar">
          <ul>
            <li><a href="/secretPage"><img src="/img/placeHolderprofile.png"/><br>name</br></a></li>
              <li><a href="/">Home</a></li>
            <li><a href="/about">Contact</a></li>
            <li><a href="/my-work">My Work</a></li>
            <!-- <li><a href ="/secretPage">Secret</a></li> -->
           </ul>
         </div>

        <!-- </li>
      </ul> -->
    <!-- </div>
  </div> -->

</nav>
