<div class="paddingPage">
 <div class="container text-center">
<h1>This is different...</h1>
<div class ="slideshow_container">
  <div class="mySlides fade">
    <img src="/img/panda.jpg" />
    <!-- <div class="text">this a panda</div> -->
  </div>
    <div class="mySlides fade">
        <img src="/img/sombraHacking.png"/>
        <!-- <div class="text">this is another panda</div> -->
      </div>

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
  </div>
  <br>
  <!-- <button onclick="myFunction()">Toggle dark mode</button> -->

<!-- <div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
</div> -->

</div>


<!-- {{> about-me }} -->

</div>

</div>
